<div>
  <% if @data_migrations.present? %>
    <h2>Data Migrations:</h2>
    <table>
      <thead>
      <tr>
        <th>ID</th>
        <th>Imported patients</th>
        <th>Migration time</th>
        <th>Updates patients</th>
        <th>Failed patients</th>
        <th>Run migration</th>
      </tr>
      </thead>
      <tbody>
      <% @data_migrations.each do |migration| %>
        <tr>
          <td><%= link_to migration.id, data_migration_path(migration.id) %></td>
          <td><%= migration.imported_patients %></td>
          <td><%= migration.migration_time %></td>
          <td><%= migration.updates_patients %></td>
          <td><%= migration.failed_patients %></td>
          <td>
            <%= link_to 'Migrate',
                        import_patients_path(file_blob_id: migration.file.blob_id),
                        data: { turbo_method: :post } %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% else %>
    <h2>No data</h2>
  <% end %>
</div>

