<!DOCTYPE html>
<html>
  <head>
    <title>AvaDm</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div>
      <%= link_to 'Dashboard', root_path %> |
      <%= link_to 'Data Migrations', data_migrations_path %>
      <%= link_to 'Patients', patients_path %>
    </div>
    <div class="errors">
      <% flash.each do |key, value| %>
        <div class="flash <%= key %>">
          <%= value %>
        </div>
      <% end %>

      <br>
    </div>

    <%= yield %>
  </body>
</html>
